<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">

	<!-- 전체조회 -->
	<select id="boardList"
		resultType="NoticeVO"
		parameterType="Pager">
		select * from
		(select N.*, rownum R from
		(select * from notice
		<choose>
			<when test="kind == 'kt'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kc'">
				where contents like '%'||#{search}||'%'
			</when>
			<otherwise>
				where writer like '%'||#{search}||'%'
			</otherwise>
		</choose>
		order by num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>

	<!-- 글전체 수 -->
	<select id="boardCount" resultType="Integer"
		parameterType="Pager">
		select count(num) from notice
		<choose>
			<when test="kind == 'kt'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kc'">
				where contents like '%'||#{search}||'%'
			</when>
			<otherwise>
				where writer like '%'||#{search}||'%'
			</otherwise>
		</choose>

	</select>
	<!-- 글쓰기 -->
	<select id="boardWrite" parameterType="BoardVO" resultType="Integer">
		insert into notice 
  		values (board_seq.nextval, #{title} , #{writer} , #{contents} , sysdate, 0)
	
	</select>
	
	<!-- 글보기 -->
	<select id="boardSelect" parameterType="BoardVO" resultType="BoardVO">
		select * from notice
		where num = #{num}
	</select>
	
	<!-- 글수정 -->
	<update id="boardUpdate" parameterType="BoardVO">
		update notice set title = #{title}, contents = #{contents} where num = #{num}
	</update>
	
	<!-- 글삭제 -->
	<delete id="boardDelete" parameterType="BoardVO">
		delete notice where num=#{num}
	</delete>
</mapper>